/* 
    - add class "reveal_top" to the element you want to appear from top
    - add class "reveal_bottom" to the element you want to appear from bottom
    - add class "reveal_right" to the element you want to appear from right
    - add class "reveal_left" to the element you want to appear from left
    - add class "reveal_zoom" to the element you want to appear with zoom effect
    - add class "reveal_fade" to the element you want to appear with fade effect
    - add class "reveal_rotate" to the element you want to appear with rotate effect
*/


/*** Animations ****/
/* -----
    Top
------- */
.reveal_top{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal_top.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
/* --------
    bottom
  --------- */
.reveal_bottom{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
}
.reveal_bottom.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}

/* --------
    right
  --------- */
.reveal_right{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
}
.reveal_right.active{
    position: relative;
    transform: translateX(0px);
    opacity: 1;
}


/* --------
    left
  --------- */
.reveal_left{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
}
.reveal_left.active{
    position: relative;
    transform: translateX(0px);
    opacity: 1;
}


/* --------
    zoom
  --------- */
.reveal_zoom{
    position: relative;
    transform: scale(0.5);
    opacity: 0;
}
.reveal_zoom.active{
    position: relative;
    transform: scale(1);
    opacity: 1;
}

/* --------
    fade
  --------- */
.reveal_fade{
    position: relative;
    opacity: 0;
}
.reveal_fade.active{
    position: relative;
    opacity: 1;
}

/* --------
    rotate
  --------- */
.reveal_rotate{
    position: relative;
    transform: rotate(90deg);
    opacity: 0;
}
.reveal_rotate.active{
    position: relative;
    transform: rotate(0deg);
    opacity: 1;
}



/*
    - add class ".t01" to the element you want to animate with 0.1s duration
    - add class ".t02" to the element you want to animate with 0.2s duration
    - add class ".t1" to the element you want to animate with 1s duration
    ........
    - add class ".t9" to the element you want to animate with 9s duration
*/



/******** animation durations *****/
.t01{
    transition: all .1s ease-out;
}
.t02{
    transition: all .2s ease-out;
}
.t03{
    transition: all .3s ease-out;
}
.t04{
    transition: all .4s ease-out;
}
.t05{
    transition: all .5s ease-out;
}
.t06{
    transition: all .6s ease-out;
}
.t07{
    transition: all .7s ease-out;
}
.t08{
    transition: all .8s ease-out;
}
.t09{
    transition: all .9s ease-out;
}
.t1{
    transition: all 1s ease-out;
}

.t2{
    transition: all 2s ease-out;
}
.t3{
    transition: all 3s ease-out;
}
.t4{
    transition: all 4s ease-out;
}
.t5{
    transition: all 5s ease-out;
}
.t6{
    transition: all 6s ease-out;
}
.t7{
    transition: all 7s ease-out;
}
.t8{
    transition: all 8s ease-out;
}
.t9{
    transition: all 9s ease-out;
}

