html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 135px; /* hauteur du footer */
  }
  
  .footer-position {
    position: absolute;
    bottom: 0;
    width: 100%;

  }

#contact {
    padding-top: 100px !important;
}


@media screen and (max-width: 992px) {
    a.btn.btn-primary.shadow {
        display: flex;
        justify-content: center;
        width: 20%;
    }

    .navbar-collapse.show a.btn.btn-primary.shadow, .navbar-collapse.collapsing a.btn.btn-primary.shadow {
        width: 100%;
    }
}